.header-primary {
  position: sticky;
  top: 0;
  --fc-anchor: var(--fc-secondary);
}

.logo {
  font-size: var(--fs-md);
}

a[role="menuitem"] {
  display: inline-block;
  padding: var(--space-md) var(--space-sm);
}

.icon-burger {
  --fc-button: var(--white);
  --bg-button: var(--transparent);
  cursor: pointer;
  display: grid;
  gap: var(--space-xs);
  padding: 0;
  width: 32px;
}

.icon-burger::before, .icon-burger::after {
  content: "";
  display: block;
  background-color: currentColor;
  height: 2px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.line-burger {
  background-color: currentColor;
  display: block;
  height: 2px;
  width: 100%;
}

.box-header,.box-content,.box-footer{margin-inline:auto;}

.box-header,
.box-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-inline: var(--space-sm);
  max-width: var(--width-wide);
}

.box-content {
  --columns: 1fr;
  display: grid;
  gap: var(--space-md);
  grid-template-columns: var(--columns);
  padding: 5rem var(--space-sm);
  max-width: var(--width-regular);

  @media (min-width: 1024px) {--columns: 30% 1fr;}
}

.card {
  display: grid;
  height: fit-content;
  gap: var(--space-md);
}

hgroup {grid-column: 1 / -1;}

nav[aria-label="Social Media Links"] {
  --fc-anchor: var(--fc-secondary);
  ul {
    display: flex;
    gap: var(--space-sm);
    list-style: none;
    padding: 0;
  }
  svg {
    fill: var(--fc-secondary);
    &:hover {
      fill: var(--clr-accent-400);
    }
  }
}

.box-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
  gap: var(--space-md);
}

.experince,
.contact {
  align-items: center;
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr;
}

.card-secondary {
  margin: 5rem var(--space-sm);
}

.footer-primary {
  --fc-paragraph: var(--fc-secondary);
  padding: var(--space-sm) 0;
}

.bg-secondary {
  --fc-headline: var(--fc-secondary);
  --fc-paragraph: var(--fc-secondary);
  --fc-list: var(--fc-secondary);
  background: var(--bg-secondary);
}

@media (max-width: 768px) {
  .header-primary {
    padding-block: var(--space-md);
  }

  .nav-primary {
    display: none;
  }

  .nav-primary.is-active {
    display: block;
  }
  
  .d-none-sm {
    display: none;
  }

  .nav-primary {
    position: absolute;
    top: 4.5rem;
    left: 1rem;
    right: 1rem;

    ul {
      flex-direction: column;
    }

    li, a {
      width: 100%;
      text-align: center;
      --bg-anchor: var(--bg-secondary);
    }
  }
}

@media (min-width: 769px) {
  .icon-burger {
    display: none;
  }

  .hero {
    display: grid;
    position: relative;
    height: 80vh;
    height: 80dvh;
    
    &::after {
      content: "";
      background-color: var(--bg-secondary);
      inset: 0;
      position: absolute;
      opacity: 0.5;
    }

    picture,
    .box-content {
      grid-area: 1 / 1;
    }

    img {
      height: 80vh;
      height: 80dvh;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }

    .box-content {
      align-content: end;
      z-index: 1;
    }
  }

  .experince,
  .contact {
    grid-template-columns: 1fr 1fr;

    img {
      width: 100%;
    }
  }

  .card-secondary {
    margin: 5rem var(--space-sm);
    place-self: center;
  }
}